﻿@model TreeStructureManagement.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category Details</h2>

<div>
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <td>
                    @Html.LabelFor(x => Model.Id)
                </td>
                <td>
                    @Html.LabelFor(x => Model.Name)
                </td>
                <td>
                    @Html.LabelFor(x => Model.Pid)
                </td>
                <td>
                    @Html.LabelFor(x => Model.Description)
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                @Html.DisplayFor(x => Model.Id)
            </td>
            <td>
                @Html.DisplayFor(x => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(x => Model.Pid)
            </td>
            <td>
                @Html.DisplayFor(x => Model.Description)
            </td>
        </tr>
    </table>
</div>
<div class="form-group">
    <div>
        <a href="../Index" class="btn btn-info">&#9668; Back to List</a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


