﻿@model IEnumerable<TreeStructureManagement.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <h2>Categories</h2>
    </div>
    <div class="col-sm-6" style="margin: 25px 0px 25px 0px;">
        <form asp-controller="Categories" asp-action="Index" class="form-inline">
            <div class="form-group">
                <input type="text" name="SearchString" class="form-control form-rounded" placeholder="Name">
                <input type="submit" value="Search" class="btn btn-group" />
            </div>
        </form>
    </div>
</div>

    <table class="table table-hover">
        @foreach (var item in Model)
        {
            <thead>
                <tr class="success">
                    <td>
                        @Html.LabelFor(x => item.Name)
                    </td>
                    <td>
                        @Html.LabelFor(x => item.Pid)
                    </td>
                    <td>
                        @Html.LabelFor(x => item.Description)
                    </td>
                    <td>
                        <div>
                            <div>
                                <a href="../Categories/Create" class="btn btn-success">Create New</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>

            break;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Pid)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

